# Python
__pycache__/
*.py[cod]
*$py.class
dist/
.env
.venv
.deta
env/
venv/
htmlcov/

# Monochrome (fs media)
media/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/