[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Requirements
aiofiles = "*"
alembic = "*"
asyncpg = "*"
deta = {extras = ["async"], version = "==1.1.0a2"}
fastapi = "*"
fastapi_camelcase = "*"
gunicorn = "*"
orjson = "*"
passlib = {extras = ["bcrypt"], version = "*"}
patool = "*"
pillow = ">=9.1.1"
prometheus-fastapi-instrumentator = "*"
pydantic = {extras = ["email"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
pyunpack = "*"
rich = "*"
sqlalchemy = "*"
slowapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi-jwt-auth = "*"

[dev-packages]
# Linting/Formatting (needed in the image for CI)
black = "*"
flake8 = "*"
flake8-isort = "*"
flake8-black = "*"
isort = "*"
# Testing
httpx = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
# Other
icecream = "*"
ipython = ">=7.31.1"
pyupgrade = "*"
safety = "*"

[pipenv]
allow_prereleases = true
